.navbar {
    position: sticky;
    width: 100%;
    background-color: rgba(20, 20, 30, 1);
    padding-left: 5%;
    height: 3rem;
}

.navItem {
    color: #FFF;
}

.menu {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding-right: 5%;
}